<header>
  <div class="navbar navbar-dark bg-dark ">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Editing: <%= @book.title %></strong>
      </a>
    </div>
  </div>
</header>

<%= render 'form', book: @book %>

<div class="btn-group">
<p>
<%= button_to 'Show Book', @book, method: :get, class: "btn btn-sm btn-outline-secondary" %>
<%= button_to 'Back', books_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
</p>